* {
    box-sizing: border-box;
}
.demo {
    background-color: #ffc0cb;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header {
    align-self: flex-start;
    border: 1px solid black;
    background-color: cyan;
}

.main {
    border: 1px solid red;
    background-color: beige;
}

.footer {
    align-self: flex-end;
    border: 1px solid green;
    background-color: teal;
}
