*{
    padding: 0;
    margin: 0;
}
.green{
    background-color: green;
    text-align: center;
}
.main{
    display: flex;
    text-align: center;
}
.nav{
    display: flex;
    background-color: gray;
}