/* p {
    font-size: 36px;
} */

/* a {
    font-size: 24px;
    color: blueviolet;
} */

h1 {
    color: teal;
}

#paragraph01 {
    font-size: 40px;
}

.primary-link {
    color: cyan;
}

.primary-link:hover {
    color: blueviolet;
}
